body
{
		background-color: #000000;
		color: #ffffff;
		font-family: 'Comfortaa', cursive;
		margin: 0 !important;
		height:100%;
}

/*lapie wszystko co jest*/
.wrapper
{
		width: 100%;
}

/* kontener w ktorym jest rowniez kontener logo*/
.header
{
		width: 100%;
		padding: 20px 0;
		background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.logo
{
	width:500px;
	font-size: 35px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
	margin-bottom: -2px;
	letter-spacing: 1px;
	padding: 12px;
}
.logo:hover
{
	background-color: #3095d3;
	border:none;
	border-radius: 5px;
}

/* menu*/
.nav
{
	height: 50px;
	background-color: #090909;
	text-align: center;
	border-top: solid;
	border-bottom: solid;
	letter-spacing: 1px;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 15px;
	height:40px;
	line-height: 150%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display:block;
	height: 100px;
	text-align: center;
}

a
{
		text-decoration: none;
		color:white;
}
ol > li
{
	float: left;
	width: 212px;
	padding-top: 13px;
	font-size: 15px;
	border-right: 0.5px solid;
	border-color: white;
	letter-spacing: 2px;
	height: 40px;

}
ol > li:first-child
{
	border-left: 0.5px solid;
	border-color: white;
}

ol > li:hover
{
	background-color: #FF0000;
	height: 100%;
}

ol > li:hover > a
{
	color: white;
	font-weight: bold;
}

ol > li > a
{
	font-weight: bold;
	height: 20px;

}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}


/* div ze zdjeciem*/
.img1
{
	text-align: right;
	height:650px;
}

.img2
{
	text-align: right;
	height:500px;
}
.img3
{
	text-align: right;
	height:700px;
}
.img4
{
	text-align: right;
	height:600px;
}
.img5
{
	text-align: right;
	height:300px;
}
.img6
{
	text-align: right;
	height:650px;
	width: 1400px;
}

.boxfoto
{
	padding: 100px;
	height: 300px;
	width: 1300px;
}

.content1
{
transform: translate(15%,-120%);
background: #090909;
border:none;
border-radius: 5px;
width:760px;
padding: 40px;
text-align: justify;
font-size: 25px;
}
.content2
{
transform: translate(70%,20%);
background: #090909;
border:none;
border-radius: 5px;
width:550px;
padding: 40px;
text-align: justify;
font-size: 25px;
}

.content3
{
transform: translate(70%,15%);
background: #090909;
border:none;
border-radius: 5px;
width:550px;
padding: 40px;
text-align: justify;
font-size: 25px;
}
.content4
{
transform: translate(10%,20%);
background: #090909;
border:none;
border-radius: 5px;
width:550px;
padding: 40px;
margin-top: -60px;
text-align: justify;
font-size: 25px;
float: left;
}
.videob
{

background: #090909;
}
.boxcontentvideo
{
	width:1450px;
	padding-top: 60px;
	height: 600px;
}


.content5
{
transform: translate(70%,0%);
background: #090909;
border:none;
border-radius: 5px;
width:550px;
padding: 40px;
text-align: justify;
font-size: 25px;
}

.content6
{
transform: translate(20%,-10%);
background: #090909;
border:none;
border-radius: 5px;
text-align: justify;
font-size: 25px;
}

.slider1
{
	width:700px;
	height:550px;
	background: url(foto1.jpg);
	margin:150px auto;
	animation: slide 10s infinite;
	transform: translate(50%,-143%);
	float: left;
}
@keyframes slide{
25%{
background: url(foto1.jpg);
}
100%{
background: url(berlin222.jpg);
}
}





/*ikony*/
.socials
{
	width: 100%;
	text-align: center;
	background-color: #292929;
	height: 155px;
	clear: both;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.yt:hover
{
	background-color: #d94348;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}



/*stopka*/
.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
	font-size: 15px;
	clear:both;
	margin:0;
	height:50px;
}
