
body
{
		background-color: #000000;
		color: #ffffff;
		font-family: 'Comfortaa', cursive;
		margin: 0px;
		padding:0px;
		box-sizing: border-box;
}

.wrapper
{
		height: 100vh;
}

.header
{
	padding: 20px 0;
	background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

.blob1
{
	position:absolute;
	width: 800px;
	height: 800px;
	transform: translate(5%, 10%);
}

.blob2
{
	position:absolute;
	width: 800px;
	height: 800px;
	transform: translate(5%, 10%);
}

.blob3
{
	position:absolute;
	width: 800px;
	height: 800px;
	transform: translate(5%, 10%);
}

.blob4
{
	position:absolute;
	width: 800px;
	height: 800px;
	transform: translate(5%, 10%);
}

.blob5
{
	position:absolute;
	width: 800px;
	height: 800px;
	transform: translate(5%, 5%);
}

.blob6
{
	position:absolute;
	width: 800px;
	height: 800px;
	transform: translate(5%, 10%);
}

.blob7
{
	position:absolute;
	width: 800px;
	height: 800px;
	transform: translate(20%, 10%);
}

.blob:nth-child(2)
{
	filter: blur(100px);
}

.logo
{
	width:500px;
	font-size: 35px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
	margin-bottom: -2px;
	letter-spacing: 1px;
	padding: 12px;
}

.logo:hover
{
	background-color: #3095d3;
	border:none;
	border-radius: 5px;
}

.nav
{
	height: 50px;
	background-color: #090909;
	text-align: center;
	border-top: solid;
	border-bottom: solid;
	letter-spacing: 1px;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 15px;
	height:40px;
	line-height: 150%;
	display: inline-block;
}

ol a
{
	color: #ffffff;
	text-decoration: none;
	display:block;
	height: 100px;
	text-align: center;
}

a
{
		text-decoration: none;
		color:white;
}
ol > li
{
	float: left;
	width: 212px;
	padding-top: 13px;
	font-size: 15px;
	border-right: 0.5px solid;
	border-color: white;
	letter-spacing: 2px;
	height: 40px;

}
ol > li:first-child
{
	border-left: 0.5px solid;
	border-color: white;
}

ol > li:hover
{
	background-color: #FF0000;
	height: 100%;
}

ol > li:hover > a
{
	color: white;
	font-weight: bold;
}

ol > li > a
{
	font-weight: bold;
	height: 20px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

.bigboxindex1
{
	text-align: right;
	height:650px;
}

.contentindex1
{
transform: translate(15%,-120%);
background: #090909;
border:none;
border-radius: 5px;
width:680px;
padding: 40px;
text-align: justify;
font-size: 25px;
}

.arrow
{
	position: relative;
	transform: translate(98%, 10%);
}

.arrow span
{
	display: block;
	width: 15px;
	height: 15px;
	border-bottom: 5px solid #06A8FF;
	border-right: 5px solid #06A8FF;
	transform: rotate(45deg);
	margin: -10px;
	animation: scroll 2s infinite;
}

.arrow span:nth-child(2)
{
	animation-delay: -.2s;
}

.arrow span:nth-child(3)
{
	animation-delay: -.4s;
}

@keyframes scroll
{
	0%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px -20px);
	}
}

.bigboxpp2
{
	text-align: right;
	height:650px;
}

.contentpp2
{
transform: translate(70%,20%);
background: #090909;
border:none;
border-radius: 5px;
width:520px;
margin-top: 65px;
padding: 40px;
text-align: justify;
font-size: 25px;
}

.arrow2
{
	position: relative;
	transform: translate(98%, 30%);
}

.arrow2 span
{
	display: block;
	width: 15px;
	height: 15px;
	border-bottom: 5px solid #06A8FF;
	border-right: 5px solid #06A8FF;
	transform: rotate(45deg);
	margin: -10px;
	animation: scroll 2s infinite;
}

.arrow2 span:nth-child(2)
{
	animation-delay: -.2s;
}

.arrow2 span:nth-child(3)
{
	animation-delay: -.4s;
}

@keyframes scroll
{
	0%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px -20px);
	}
}

.bigboxmp3
{
	text-align: right;
	height:650px;
}

.contentmp3
{
transform: translate(70%,15%);
background: #090909;
border:none;
border-radius: 5px;
width:520px;
padding: 40px;
margin-top: 50px;
text-align: justify;
font-size: 25px;
}

.arrow3
{
	position: relative;
	transform: translate(98%, 10%);
}

.arrow3 span
{
	display: block;
	width: 15px;
	height: 15px;
	border-bottom: 5px solid #06A8FF;
	border-right: 5px solid #06A8FF;
	transform: rotate(45deg);
	margin: -10px;
	animation: scroll 2s infinite;
}

.arrow3 span:nth-child(2)
{
	animation-delay: -.2s;
}

.arrow3 span:nth-child(3)
{
	animation-delay: -.4s;
}

@keyframes scroll
{
	0%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px -20px);
	}
}

.bigboxps4
{
	width:1450px;
	padding-top: 60px;
	height: 650px;
}

.smallboxps4
{
	text-align: right;
	height:600px;
}

.contentps4
{
transform: translate(10%,20%);
background: #090909;
border:none;
border-radius: 5px;
width:550px;
padding: 40px;
margin-top: -60px;
text-align: justify;
font-size: 25px;
float: left;
}

.arrow4
{
	position: relative;
	transform: translate(100%, 10%);
}

.arrow4 span
{
	display: block;
	width: 15px;
	height: 15px;
	border-bottom: 5px solid #06A8FF;
	border-right: 5px solid #06A8FF;
	transform: rotate(45deg);
	margin: -10px;
	animation: scroll 2s infinite;
}

.arrow4 span:nth-child(2)
{
	animation-delay: -.2s;
}

.arrow4 span:nth-child(3)
{
	animation-delay: -.4s;
}

@keyframes scroll
{
	0%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px -20px);
	}
}

.videob
{
background: #090909;
}

.bigboxms5
{
	text-align: right;
	height:650px;
}
.contentms5
{
transform: translate(70%,0%);
background: #090909;
border:none;
border-radius: 5px;
width:520px;
margin-top: 100px;
padding: 40px;
text-align: justify;
font-size: 25px;
}

.arrow5
{
	position: relative;
	transform: translate(100%, 10%);
}

.arrow5 span
{
	display: block;
	width: 15px;
	height: 15px;
	border-bottom: 5px solid #06A8FF;
	border-right: 5px solid #06A8FF;
	transform: rotate(45deg);
	margin: -10px;
	animation: scroll 2s infinite;
}

.arrow5 span:nth-child(2)
{
	animation-delay: -.2s;
}

.arrow5 span:nth-child(3)
{
	animation-delay: -.4s;
}

@keyframes scroll
{
	0%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px -20px);
	}
}

.bigboxkal6
{
	padding: 100px;
	height: 650px;
	width: 1300px;
}

.contentkal6
{
transform: translate(70%,0%);
background: #090909;
border:none;
border-radius: 5px;

text-align: justify;
font-size: 25px;
}

.bigboxblog7
{
	text-align: right;
	height:650px;
}

.smallboxblog7
{
margin-top: 50px;
width:1200px;
}
.contentblog7
{
transform: translate(30%,-110%);
background: #090909;
border:none;
border-radius: 5px;
text-align: justify;
font-size: 25px;
width:550px;
padding: 40px;
}

.socials
{
	width: 100%;
	text-align: center;
	background-color: #292929;
	height: 155px;
	clear: both;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.icons
{
	width: 1000px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.yt
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw
{
	width: 250px;
	height: 155px;
	float:left;
}

.tw:hover
{
	background-color: #3095d3;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}

.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
	font-size: 12px;
	clear:both;
	margin:0;
	height:20px;
	margin-left: auto;
	margin-right: auto;
}




@media (max-width:1320px)
{
	.bigboxindex1
	{
		text-align: right;
		height:630px;
	}
	.contentindex1
	{
	transform: translate(-30%,-110%);
	width:600px;
	padding: 30px;
	padding-bottom:40px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	}

	.arrow
	{
		transform: translate(98%, 80%);
	}

	.arrow span
	{
		width: 8px;
		height: 8px;
		margin: -8px;
	}

	.img
	{
		width: 20px;
		height: 20px;
	}

	.socials
	{
		text-align: center;
		height: 120px;
	}

	.socialdivs
	{
		width: 480px;
	}

	.icons
	{
		width: 480px;
		height: 120px;
	}

	.fb
	{
		width: 120px;
		height: 120px;
	}

	.yt
	{
		width: 120px;
		height: 120px;
	}

	.tw
	{
		width: 120px;
		height: 120px;
	}

	.gplus
	{
		width: 120px;
		height: 120px;
	}

	.footer
	{
		font-size: 12px;
		height:10px;
	}
}


@media (max-width:1100px)
{
	.bigboxindex1
	{
		text-align: right;
		height:630px;
	}
	.contentindex1
	{
	transform: translate(-35%,-140%);
	width:500px;
	padding: 30px;
	padding-bottom:40px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	}

	.arrow
	{
		transform: translate(98%, 80%);
	}

	.arrow span
	{
		width: 8px;
		height: 8px;
		margin: -8px;
	}

	.img
	{
		width: 20px;
		height: 20px;
	}

	.socials
	{
		text-align: center;
		height: 120px;
	}

	.socialdivs
	{
		width: 480px;
	}

	.icons
	{
		width: 480px;
		height: 120px;
	}

	.fb
	{
		width: 120px;
		height: 120px;
	}

	.yt
	{
		width: 120px;
		height: 120px;
	}

	.tw
	{
		width: 120px;
		height: 120px;
	}

	.gplus
	{
		width: 120px;
		height: 120px;
	}

	.footer
	{
		font-size: 12px;
		height:10px;
	}
}

@media (max-width:980px)
{
	.bigboxindex1
	{
		text-align: right;
		height:630px;
	}
	.contentindex1
	{
	transform: translate(-45%,-130%);
	width:400px;
	padding: 30px;
	padding-bottom:40px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	}

	.arrow
	{
		transform: translate(98%, 80%);
	}

	.arrow span
	{
		width: 8px;
		height: 8px;
		margin: -8px;
	}

	.img
	{
		width: 20px;
		height: 20px;
	}

	.socials
	{
		text-align: center;
		height: 120px;
	}

	.socialdivs
	{
		width: 480px;
	}

	.icons
	{
		width: 480px;
		height: 120px;
	}

	.fb
	{
		width: 120px;
		height: 120px;
	}

	.yt
	{
		width: 120px;
		height: 120px;
	}

	.tw
	{
		width: 120px;
		height: 120px;
	}

	.gplus
	{
		width: 120px;
		height: 120px;
	}

	.footer
	{
		font-size: 12px;
		height:10px;
	}
}

@media (max-width:860px)
{
	.bigboxindex1
	{
		text-align: right;
		height:630px;
	}
	.contentindex1
	{
	transform: translate(-25%,-130%);
	width:400px;
	padding: 30px;
	padding-bottom:40px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	}

	.arrow
	{
		transform: translate(98%, 80%);
	}

	.arrow span
	{
		width: 8px;
		height: 8px;
		margin: -8px;
	}

	.img
	{
		width: 20px;
		height: 20px;
	}

	.socials
	{
		text-align: center;
		height: 120px;
	}

	.socialdivs
	{
		width: 480px;
	}

	.icons
	{
		width: 480px;
		height: 120px;
	}

	.fb
	{
		width: 120px;
		height: 120px;
	}

	.yt
	{
		width: 120px;
		height: 120px;
	}

	.tw
	{
		width: 120px;
		height: 120px;
	}

	.gplus
	{
		width: 120px;
		height: 120px;
	}

	.footer
	{
		font-size: 12px;
		height:10px;
	}
}


@media (max-width:700px)
{
	.logo
	{
		font-size: 32px;
	}
	.bigboxindex1
	{
		text-align: right;
		height:1050px;
	}
	.contentindex1
	{
	transform: translate(0%,-10%);
	width:400px;
	padding: 20px;
	padding-bottom:40px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	}

	.arrow
	{
		transform: translate(98%, 80%);
	}

	.arrow span
	{
		width: 8px;
		height: 8px;
		margin: -8px;
	}

	.img
	{
		width: 20px;
		height: 20px;
	}
	.socials
	{
		text-align: center;
		height: 80px;
	}

	.socialdivs
	{
		width: 320px;
	}

	.icons
	{
		width: 320px;
		height: 80px;
	}

	.fb
	{
		width: 80px;
		height: 80px;
	}

	.yt
	{
		width: 80px;
		height: 80px;
	}

	.tw
	{
		width: 80px;
		height: 80px;
	}

	.gplus
	{
		width: 80px;
		height: 80px;
	}

	.footer
	{
		font-size: 10px;
		height:10px;
	}
}


@media (max-width:430px)
{

	.logo
	{
		font-size: 28px;
	}
	.bigboxindex1
	{
		text-align: right;
		height:1080px;
	}
	.contentindex1
	{
	transform: translate(0%,-8%);
	width:300px;
	padding: 20px;
	padding-bottom:40px;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	}

	.arrow
	{
		transform: translate(98%, 80%);
	}

	.arrow span
	{
		width: 8px;
		height: 8px;
		margin: -8px;
	}

	.img
	{
		width: 20px;
		height: 20px;
	}

	.socials
	{
		text-align: center;
		height: 80px;
	}

	.socialdivs
	{
		width: 320px;
	}

	.icons
	{
		width: 320px;
		height: 80px;
	}

	.fb
	{
		width: 80px;
		height: 80px;
	}

	.yt
	{
		width: 80px;
		height: 80px;
	}

	.tw
	{
		width: 80px;
		height: 80px;
	}

	.gplus
	{
		width: 80px;
		height: 80px;
	}

	.footer
	{
		font-size: 10px;
		height:10px;
	}
}
